<div class="jumbotron">
  <h1>Pregled zakazanih termina pacijenta</h1>
  <p class="lead">Ova stranica omogućava pregled zakazanih termina pacijenta.</p>
</div>

<div class="alert alert-danger" role="alert" *ngIf="appointments.patientBlocked">
  Korisniku je zabranjeno zakazivanje novih termina, jer je kasnio 3 ili više puta.
</div>

<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th scope="col">Datum i vreme</th>
    <th scope="col">Trajanje pregleda</th>
    <th scope="col">Lekar</th>
    <th scope="col">Pacijent došao</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let appointment of appointments.appointments" >
    <td>{{appointment.date | date:'medium'}}</td>
    <td>{{appointment.duration}}</td>
    <td>{{appointment.doctorName}}</td>
    <td>{{appointment.patientArrivedOnTime?'Da':'Ne'}}</td>
    <td>
        <span *ngIf="appointment.status === 'IN_PAST'" >Pregled obavljen</span>
        <span *ngIf="appointment.status === 'PATIENT_WAS_LATE'" >Pacijent kasnio</span>
        <span *ngIf="appointment.status === 'PATIENT_HAS_NO_INSURENCE'" >Pacijent nema osiguranje</span>
        <span *ngIf="appointment.status === 'IN_FUTURE'" >Pregled zakazan u budućnosti.</span>
        <span *ngIf="appointment.status === 'TODAY'" ><a tooltip="Potvrdi dolazak" class="edit" (click)="confirmArrival(appointment)"><i class="fa fa-edit blue-fa"></i> Potvrdi dolazak</a></span>
  </tr>
  </tbody>
</table>
