<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Promeni šifru</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (validSubmit) = "onChangePassword()" [formGroup]="editForm">
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock blue-fa" aria-hidden="true"></i>
          </span>
        </div>
        <input type="password" formControlName="newPassword" class="form-control" name="newPassword" placeholder="Nova šifra" required="required">
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock  blue-fa" aria-hidden="true"></i>
          </span>
        </div>
        <input type="password" formControlName="confirmNewPassword" class="form-control" name="confirmNewPassword" placeholder="Potvrdi novu šifru" required="required">
      </div>
      <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock  blue-fa" aria-hidden="true"></i>
            </span>
          </div>
          <input type="password" formControlName="oldPassword" class="form-control" name="currentPassword" placeholder="Trenutna šifra">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
            {{errorMessage}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Odustani</button>
          <input type="submit" class="btn btn-primary" value="Sačuvaj izmene">
        </div>
    </form>
  </div>
</ng-template>


<button type="button" class="btn  btn-primary btn-block mr-2 " (click)="open(content)">Promeni šifru</button>

