.login-body{
  position: fixed;
  min-width: 100%;
  background-image: url("/assets/images/loginBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  left: 0;
}
